In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
802,tt0471042,75000000,152930623,Tower Heist,Ben Stiller|Eddie Murphy|Casey Affleck|Alan Al...,Brett Ratner,Ordinary guys. An extraordinary robbery.,A luxury condo manager leads a staff of worker...,104,Action|Comedy,Universal Pictures|Image Entertainment|Relativ...,11/2/2011,5.8,2011
1542,tt0433386,20000000,39143839,The Grudge 2,Sarah Michelle Gellar|Amber Tamblyn|Edison Che...,Takashi Shimizu,"What Was Once Trapped, Will Now Be Unleashed","In Tokyo, a young woman (Tamblyn) is exposed t...",102,Horror|Thriller,Columbia Pictures Corporation|Ghost House Pict...,10/13/2006,5.3,2006
1443,tt0457939,85000000,194168700,The Holiday,Cameron Diaz|Kate Winslet|Jude Law|Jack Black|...,Nancy Meyers,It's Christmas Eve and we are going to go cele...,"Two women, one (Cameron Diaz) from America and...",136,Comedy|Romance,Columbia Pictures|Universal Pictures|Waverly F...,12/8/2006,6.7,2006
18,tt1661199,95000000,542351353,Cinderella,Lily James|Cate Blanchett|Richard Madden|Helen...,Kenneth Branagh,Midnight is just the beginning.,"When her father unexpectedly passes away, youn...",112,Romance|Fantasy|Family|Drama,Walt Disney Pictures|Genre Films|Beagle Pug Fi...,3/12/2015,6.8,2015
84,tt3567288,5000000,98450062,The Visit,Olivia DeJonge|Ed Oxenbould|Kathryn Hahn|Benja...,M. Night Shyamalan,No one loves you like your grandparents.,The terrifying story of a brother and sister w...,94,Horror|Thriller,Blumhouse Productions|Blinding Edge Pictures,9/10/2015,5.9,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# +
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# +
answers['2'] = 'Gods and Generals'

In [9]:
data[data['runtime'] == data['runtime'].max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
# +
answers['3'] = 'Winnie the Pooh'

In [11]:
data[data['runtime'] == data['runtime'].min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
# +
answers['4'] = 110

In [13]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
# +
answers['5'] = 107

In [15]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# +
answers['6'] = 'Avatar'

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget']

In [18]:
columns = data.columns
columns

Index(['imdb_id', 'budget', 'revenue', 'original_title', 'cast', 'director',
       'tagline', 'overview', 'runtime', 'genres', 'production_companies',
       'release_date', 'vote_average', 'release_year', 'profit'],
      dtype='object')

In [19]:
col_new = ['imdb_id', 'budget', 'revenue', 'profit', 'original_title', 'cast', 'director',
       'tagline', 'overview', 'runtime', 'genres', 'production_companies',
       'release_date', 'vote_average', 'release_year']
data = data[col_new]
data.head(1)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,1363528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015

In [20]:
data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [21]:
# +
answers['7'] = 'The Lone Ranger'

In [22]:
data[data['profit'] == data['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
# +
answers['8'] = '1478'

In [24]:
data[data['profit'] > 0].count()

imdb_id                 1478
budget                  1478
revenue                 1478
profit                  1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
# +
answers['9'] = 'The Dark Knight'

In [26]:
data_2008 = data[data['release_year'] == 2008]
data_2008[data_2008['profit'] == data_2008['profit'].max()]['original_title']
# data[data['profit'] ==[data['release_year'] == 2008].profit.max()

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
# +
answers['10'] = 'The Lone Ranger'

In [28]:
data_2012_2014 = data[(data['release_year'] > 2012) & (data['release_year'] <= 2014)]
data_2012_2014[data_2012_2014['profit'] == data_2012_2014['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [29]:
# +
answers['11'] = 'Drama'
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data.sample(1)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
443,tt1414382,20000000,32005248,12005248,You Again,Kristen Bell|Sigourney Weaver|Betty White|Kris...,Andy Fickman,What doesn't kill you... is going to marry you...,History -- make that high school -- may repeat...,105,Comedy|Romance,Oops Doughnuts Productions|Touchstone Pictures...,9/24/2010,6.0,2010

In [30]:
# .str.cat(sep='|') - Объединяем строки и ставим | на месте разделений 
# .split('|') - разделяем строку на список с элементами по |
# .value_counts() - высчитываем количество значений (но для этого преобразуем в список в серию pd.Series()
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()[:1]

Drama    782
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
# +
answers['12'] = 'Drama'

In [32]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']

# Оставляем только прибыльные фильмы
data[data['profit'] > 0]

# Оставляем только прибыльные фильмы
data = data[data['profit'] > 0]

# Создаем для каждого фильма список с жанром
data['genres'] = data['genres'].apply(lambda x:x.split('|'))

def genres_count(a):
    # На вход получаю     
    for i in a:
        
        # Если жанр добавлен в словарь, то +1 к значению
        if i in genres_dict:
            genres_dict[i] += 1
        # Иначе создаю ключ с названием жанра и значение =1
        else:
            genres_dict[i] = 1

# Создаем словарь, котороый будет наполняться значениями при применении фунеции
genres_dict = {}

# Применить функцию к каждой строке
data['genres'].apply(genres_count)
genres_series = pd.Series(genres_dict).sort_values(ascending=False)
print(genres_series)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [33]:
# +
answers['13'] = 'Peter Jackson'

In [34]:
data = pd.read_csv('movie_bd_v5.csv')
# Преобразую значения в список
data['director'] = data['director'].apply(lambda x: x.split('|'))

# explode - Преобразуйте каждый элемент списка в отдельную строку таблицы и создает реплику строки фрейма по индексу
data_director = data.explode('director')
# Группирую Режиссеров по сумме дохода и сортирую в порядке убывания
data_director.groupby(['director'])['revenue'].sum().sort_values(ascending = False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
# +
answers['14'] = 'Robert Rodriguez'

In [36]:
data = pd.read_csv('movie_bd_v5.csv')
# .str.contains('Action') - содержится ли шаблон или регулярное выражение в строке серии или индекса.
data_action = data[data['genres'].str.contains('Action')]

# Преобразую значения в список
data_action['director'] = data_action['director'].apply(lambda x: x.split('|'))

# explode - Преобразуйте каждый элемент списка в отдельную строку таблицы и создает реплику строки фрейма по индексу
data_action = data_action.explode('director')

data_action['director'].value_counts()

/Users/rus/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Phillip Noyce         1
Jim Gillespie         1
Josh Trank            1
Bruce Beresford       1
Anne Fletcher         1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
# +
answers['15'] = 'Chris Hemsworth'

In [38]:
data = pd.read_csv('movie_bd_v5.csv')

# Фильмы за 2012 год
data_2012 = data[data['release_year'] == 2012]

# Преобразую значения в список
data_2012['cast'] = data_2012['cast'].apply(lambda x: x.split('|'))

# explode - Преобразуйте каждый элемент списка в отдельную строку таблицы и создает реплику строки фрейма по индексу
data_2012 = data_2012.explode('cast')

# Группировка по актиерам и сумме кассовых сборов
data_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending = False)

/Users/rus/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
# +
answers['16'] = 'Matt Damon'

In [40]:
data = pd.read_csv('movie_bd_v5.csv')

# Высокобюджетные фильмы
data_high = data[data['budget'] > data['budget'].mean()]

# Преобразую значения в список
data_high['cast'] = data_high['cast'].apply(lambda x: x.split('|'))

# explode - Преобразуйте каждый элемент списка в отдельную строку таблицы и создает реплику строки фрейма по индексу
data_high = data_high.explode('cast')

data_high['cast'].value_counts()

/Users/rus/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

Matt Damon             18
Adam Sandler           17
Angelina Jolie         16
Tom Cruise             15
Samuel L. Jackson      15
                       ..
David Morrissey         1
Armin Rohde             1
Brian Tee               1
Michael-Leon Wooley     1
Emilio EchevarrÃ­a      1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
# +
answers['17'] = 'Action'

In [42]:
# фильмы с Nicolas Cage
data_cage = pd.read_csv('movie_bd_v5.csv')

# Преобразую значения в список
data_cage['cast'] = data_cage['cast'].apply(lambda x: x.split('|'))

# explode - Преобразуйте каждый элемент списка в отдельную строку таблицы и создает реплику строки фрейма по индексу
data_cage = data_cage.explode('cast')

# фильмы с Nicolas Cage
data_cage = data_cage[data_cage['cast'] == 'Nicolas Cage']

# Преобразую значения в список
data_cage['genres'] = data_cage['genres'].apply(lambda x: x.split('|'))

# explode - Преобразуйте каждый элемент списка в отдельную строку таблицы и создает реплику строки фрейма по индексу
data_cage = data_cage.explode('genres')

data_cage['genres'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Horror              1
Romance             1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [43]:
# +
answers['18'] = 'K-19: The Widowmaker'

In [44]:
data_Paramount = pd.read_csv('movie_bd_v5.csv')

# лучше код получения столбца profit вынести в Предобработку что в начале
data_Paramount['profit'] = data_Paramount['revenue'] - data_Paramount['budget']

# Преобразую значения в список
data_Paramount['production_companies'] = data_Paramount['production_companies'].apply(lambda x: x.split('|'))

# explode - Преобразуйте каждый элемент списка в отдельную строку таблицы и создает реплику строки фрейма по индексу
data_Paramount = data_Paramount.explode('production_companies')

data_Paramount = data_Paramount[data_Paramount['production_companies'] == 'Paramount Pictures']
              
data_Paramount[data_Paramount['profit'] == data_Paramount['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
# +
answers['19'] = 2015

In [46]:
data = pd.read_csv('movie_bd_v5.csv')
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [47]:
# +
answers['20'] = 2014

In [48]:
data = pd.read_csv('movie_bd_v5.csv')

# Колонка с прибылью
data['profit'] = data['revenue'] - data['budget']

# Выведем строки, где в production_companies содержится 'Warner Bros'
data2 = data[data['production_companies'].str.contains('Warner Bros')]

# Группируем год и сумму прибыли
data2.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
# +
answers['21'] = 'Сентябрь'

In [50]:
data = pd.read_csv('movie_bd_v5.csv')

# Преобразую значения в список
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))

data['month'] = 0

for i in range(len(data)):
    data['month'][i] = data['release_date'][i][0]
    
data['month'].value_counts()

# 9 месяц - Сентябрь

/Users/rus/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [51]:
# +
answers['22'] = '450'

In [52]:
data = pd.read_csv('movie_bd_v5.csv')

# Преобразую значения в список
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))

data['month'] = 0

for i in range(len(data)):
    data['month'][i] = data['release_date'][i][0]
    
data_month = data['month'].value_counts()

film_summer = data_month[6] + data_month[7] + data_month[8]
film_summer

/Users/rus/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [53]:
# +
answers['23'] = 'Peter Jackson'

In [54]:
data = pd.read_csv('movie_bd_v5.csv')

# Преобразую значения в список
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))

data['month'] = 0

for i in range(len(data)):
    data['month'][i] = data['release_date'][i][0]
    
data_winter = data[(data['month'] == 12) | (data['month'] == 1) | (data['month'] == 2)]

# Преобразую значения в список
data_winter['director'] = data_winter['director'].apply(lambda x: x.split('|'))

# explode - Преобразуйте каждый элемент списка в отдельную строку таблицы и создает реплику строки фрейма по индексу
data_winter = data_winter.explode('director')

data_winter['director'].value_counts()

/Users/rus/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/Users/rus/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Martin Scorsese      4
                    ..
Brad Silberling      1
Michael Spierig      1
Rodrigo GarcÃ­a      1
Eric Bress           1
Anne Fletcher        1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [55]:
# +
answers['24'] = 'Four By Two Productions'

In [56]:
data = pd.read_csv('movie_bd_v5.csv')
data['len_title'] = 0

for i in range(len(data)):
    data['len_title'][i] = len(data['original_title'][i])
    
# Преобразую значения в список
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))

# explode - Преобразуйте каждый элемент списка в отдельную строку таблицы и создает реплику строки фрейма по индексу
data = data.explode('production_companies')

data.groupby(['production_companies'])['len_title'].mean().sort_values(ascending = False)

/Users/rus/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: len_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [57]:
# +
answers['25'] = 'Midnight Picture Show'

In [58]:
data = pd.read_csv('movie_bd_v5.csv')

    
# Преобразую значения в список
data['overview'] = data['overview'].apply(lambda x: x.split(' '))

data['len_overview'] = 0

for i in range(len(data)):
    data['len_overview'][i] = len(data['overview'][i])
    
# Преобразую значения в список
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))

# explode - Преобразуйте каждый элемент списка в отдельную строку таблицы и создает реплику строки фрейма по индексу
data = data.explode('production_companies')

data.groupby(['production_companies'])['len_overview'].mean().sort_values(ascending = False)

/Users/rus/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: len_overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
# +
answers['26'] = ['The Dark Knight', 'Interstellar', 'The Imitation Game', 'Inside Out', 'Room', 'The Wolf of Wall Street', 'Gone Girl', '12 Years a Slave', 'Guardians of the Galaxy', 'The Lord of the Rings: The Return of the King', 'Memento', 'Inception', 'The Pianist', 'The Grand Budapest Hotel', 'Her', 'Spotlight', 'Big Hero 6', 'The Fault in Our Stars']

In [60]:
data = pd.read_csv('movie_bd_v5.csv')

# Сортирую по убыванию рейтинга
data = data.sort_values("vote_average", ascending=False)

# 1% от общего количества фильмов
data_1 = len(data['vote_average']) // 100

# Вывожу 1%
dict(data['original_title'][:data_1]).values()

dict_values(['The Dark Knight', 'Interstellar', 'The Imitation Game', 'Inside Out', 'Room', 'The Wolf of Wall Street', 'Gone Girl', '12 Years a Slave', 'Guardians of the Galaxy', 'The Lord of the Rings: The Return of the King', 'Memento', 'Inception', 'The Pianist', 'The Grand Budapest Hotel', 'Her', 'Spotlight', 'Big Hero 6', 'The Fault in Our Stars'])

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [61]:
# +
answers['27'] = [(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [62]:
import itertools
import collections

data = pd.read_csv('movie_bd_v5.csv')

data['cast'] = data['cast'].str.split('|')

# создаем dataset из столбца с актерами (для сокращения объема данных)
data2 = data['cast'].reset_index()

# добавляем столбец со списком пар актеров
# itertools.combinations(iterable, [r]) - комбинации длиной r из iterable без повторяющихся элементов.
# combinations('ABCD', 2) --> AB AC AD BC BD CD
data2['pairs'] = data2['cast'].apply(
     lambda s: list(itertools.combinations(s, 2)))

# расширяем dataset для каждой пары актеров
data2 = data2.explode('pairs').reset_index()

# считаем наиболее частые пары
# .most_common - наиболее часто встречающиеся элементы в порядке убывания
collections.Counter(data2['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [63]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['The Dark Knight',
  'Interstellar',
  'The Imitation Game',
  'Inside Out',
  'Room',
  'The Wolf of Wall Street',
  'Gone Girl',
  '12 Years a Slave',
  'Guardians of the Galaxy',
  'The Lord of the Rings: The Return of the King',
  'Memento',
  'Inception',
  'The Pianist',
  'The Grand Budapest Hotel',
  'Her',
  'Spotlight',
  'Big Hero 6',
  'The Fault in Our Stars'],
 '27': [(('Daniel Radcliffe', 'Rupert Grint'), 8)]}

In [64]:
# и убедиться что ни чего не пропустил)
len(answers)

27